/* Stylesheet for markdown output formatting */

#mdRender {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
}

/* <pre> tags used for code blocks only */
pre:has(> code){
    padding: 10px;
    background-color: #f6f8fa;
    font-size: 14px;
}

code {
    font-family: ui-monospace,"Cascadia Mono","Segoe UI Mono","Ubuntu Mono","Roboto Mono",Menlo, Monaco, Consolas,monospace; 
    background-color: #f6f8fa;
    font-size: 85%;
}

h1, h2, h3,
h4, h5, h6,
p, blockquote, pre {
    margin: 0 0 16px;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: 600;
}

h1, h2 {
    border-bottom: 1px solid #dee3e8;
}

blockquote {
    padding: 0 16px;
    border-left: 4px solid #dee3e8;
    background-color: #f6f8fa;
}

a:link {
    text-decoration: none;
    color: #489ae3;
}
a:visited {
    text-decoration: none;
    color: #489ae3;
}
a:hover {
    text-decoration: underline;
}