body {
    height: calc(100vh - 20px);
    margin: 0;
    padding: 10px;
}

body.popup {
    height: 550px;
}

button {
    margin-bottom: 16px;
}

header.popup {
    flex-grow: 1;
}

textarea:focus {
    outline-width: 0;
}

#docketBody {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#docketBody.popup {
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: hidden;
    gap: 2px;
}

#navBar {
    /* flex-grow: 0.5; */
    width: 150px;
    background-color: #f6f8fa;
    padding: 10px;
}

#navBar.popup {
    width: calc(100% - 20px);
    display: flex;
    height: 50px;
}

/* The place you type */
#mdEditor {
    font-family: ui-monospace,"Cascadia Mono","Segoe UI Mono","Ubuntu Mono","Roboto Mono",Menlo, Monaco, Consolas,monospace; 
    font-weight: 350;
    line-height: 2ch;
    resize: none;
    border: 0;
}

#mdEditor.popup {
    width: calc(100% - 20px);
    overflow: scroll;
    overflow-x: hidden;
}

#mdRender {
    overflow: scroll;
    overflow-x: hidden;
}

#mdRender.popup {
    width: calc(100% - 20px);
}

#savedNotes {
    line-height: 1.5;
}

#fileName {
    border-bottom: 1px solid #b0b5b9;
}

#fileName.popup {
    display: inline;
    width: 200px;
}

#noteOptions {
    display: flex;
    gap: 10px
}

#newNoteButton {
    flex-grow: 5;
    width: 0
}

#newNoteButton.popup {
    margin: 2px;
    padding: 0;
    width: 60px;
    height: 100%;
}

#deleteNoteButton {
    flex-grow: 1;
    width: 0;
}

#deleteNoteButton.popup {
    margin: 2px;
    padding: 0;
    width: 30px;
    height: 100%;
}

.bodyText {
    min-width: 300px;
    width: 0;
    flex-grow: 2;
    height: calc(100% - 20px);
    padding: 10px
}

.bodyText.popup {

}

.savedNoteLink {
    margin-bottom: 16px;
}

.verticalLine {
    width: 1px;
    height: 100%;
    background-color: #e3e6e9;
}

.horizontalLine {
    height: 1px;
    width: 100%;
    background-color: #e3e6e9;
}

.dropdown {
    border-bottom: 1px solid #e3e6e9;
}

.popup {
    width: 400px;
    overflow-y: hidden;
}