body {
    height: 100vh;
}

/* <pre> tags used for code blocks only */
pre {
    padding: 10px;
}

#docketBody {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.bodyText {
    min-width: 300px;
    width: 0;
    flex-grow: 1;
    height: 80%;
}